* {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin: 0 auto;
  text-align: center;
}

.header-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

@media (min-height: 768px) and (max-height: 1023px) {
  .header-btn {
    gap: 40px;
  }
}
@media (min-height: 1024px) and (max-height: 1200px) {
  .header-btn {
    gap: 60px;
  }
}
@media (min-height: 1201px) {
  .navbar-brand {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header-btn {
    gap: 80px;
  }
}


.footer {
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid black;
  padding: 10px;
  margin: 1px;
}
.footer-btn{
    margin-left: 15px;
}
